repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: format
        name: Prettier
        entry: pnpm exec prettier --write
        language: system
        types_or: [javascript, jsx, ts, tsx, json, css, scss, markdown]

      - id: lint
        name: ESLint
        entry: pnpm exec eslint --fix
        language: system
        types_or: [javascript, jsx, ts, tsx]
